@import "tailwindcss";

:root {
  --main-color: #0E1411;
  --secondary-color: #2e3343;
  --btn-hover: #284156;
} 

body {
  background: var(--main-color);
  color: var(--text-color);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
